:root { 
    --primary: #eb1426;
    --dark: #2f3542;
    --light: #f1f2f6;
 }

 header ul li{
    list-style: none;
    float:left;
    
 }

header ul li a{
    text-decoration: none;
     color: rgb(111, 221, 14);
      margin: 0 15px; 
      font-weight: bold ;
}

header ul {
     display: flex; 
     justify-content: center; 
     padding: 0;
      margin: 0;
       gap: 20px; 
}   


 body { 
    font-family: 'Segoe UI', 
    sans-serif; margin: 0;
     background: var(--light);
     }
header, footer {
     background: var(--dark);
     color: rgb(240, 0, 0);
     padding: 1rem;
     text-align: center; 
    }
nav a {
     color: rgb(111, 221, 14); 
     margin: 0 15px; 
     text-decoration: none; 
     font-weight: bold;
    }
.btn { 
    background: var(--primary);
     color: rgb(35, 108, 245);
     padding: 10px 20px;
     border: none;
     cursor: pointer; 
    }
.container {
     padding: 20px;
      max-width: 1200px; 
      margin: auto; 
    }
.grid {
     display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
       gap: 20px; 
    }

.card {
     background: white;
      padding: 15px; 
      border-radius: 8px; 
      box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    }

.card h3 {
     margin-top: 0; 
    }       
.card p {
     color: #555; 
    }

@media (max-width: 600px) {
     nav a {
          display: block; 
          margin: 10px 0; 
         }
    }
.category{
     display: flex;
      flex-wrap: wrap; 
      gap: 20px; 
     justify-content: center;}
.item {
     width: 20%;
     background: rgb(215, 215, 215);
     background-repeat: no-repeat;
     background-size: cover;
     color:white;
      padding: 15px; 
      border-radius: 8px; 
      box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    }
img {
     width: 150px;
     height: 150px;

}
#heading-category-food{
      color: rgb(0, 0, 0);
       margin: 20px 0;
        font-size: 2.5rem;
         font-weight: bold; 
         font-family: 'Times New Roman', Times, serif;
         }
payment-btn {
     background: var(--primary);
      color: rgb(35, 108, 245);
     padding: 10px 20px;
     border: none;
     cursor: pointer; 
     font-size: 1.2rem;
     font-weight: bold;
      border-radius: 5px; 
         }
.cart{
     position: fixed;
     top: 20px;         
     right: 20px;
     background: var(--primary);
     color: rgb(10, 88, 233);
     padding: 10px 20px;
     cursor: pointer; 
      font-size: 1.2rem;
     font-weight: bold;
      border-radius: 5px; 
                    }
  .home{
     display: flex;
      flex-wrap: wrap; 
      gap: 20px;
     font-family: 'Times New Roman', Times, serif;
     width: auto;
     b

}
     
                
         