.header{
    background-color: #f9e000;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 100px;
}
.main{  
    background-color: #ffffff;
    padding: 20px;
 display: flex;
    justify-content: space-between;
    height: 400px;
}
.left{
    background-color: #3412cb;
    padding: 20px;
    width: 30%;
    float: left;
    height: 150%;
}
.right{
    background-color: #0d29e0;
    padding: 20px;
    width: 30%;
    float: right;
    height: 150%;
}
.center{
    background-color: #f9e000;
    padding: 20px;
    width: 40%;
    float: left;
    height: 100%;
   
}
.footer{
    background-color: #f3e70d;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav ul{
    list-style-type: none;
    margin: 20px;
    padding: 100;
    overflow: hidden;
    background-color: #f9e000;
} 
nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
